@model IEnumerable<_19_Sistema_de_Gestión_de_Tareas_de_Mantenimiento.Models.Programacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaProgramada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaProgramada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgramacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgramacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgramacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
